.message {
  max-width: 65%;
  width: fit-content;
  position: fixed;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, 0);
  --message-bg-color: #ffffff;
  background-color: var(--message-bg-color);
  color: var(--message-text-color);
  padding: 0.8em 2em;
  border-radius: 5px;
  box-shadow: 0 0 4px var(--message-box-shadow-color);
  user-select: none;
  z-index: 99999;
  transition: all 0.2s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.message::before {
  display: block;
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1em;
  height: 1em;
  border-top: 1.5px solid var(--message-text-color);
  border-left: 1.5px solid var(--message-text-color);
  border-radius: 5px 0 0 0;
}

.message::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 1em;
  height: 1em;
  border-bottom: 1.5px solid var(--message-text-color);
  border-right: 1.5px solid var(--message-text-color);
  border-radius: 0 0 5px 0;
}

.message-dark {
  --message-bg-color: #303133;
}


/* 消息类型样式 */
.message-success {
  --message-text-color: rgb(35, 175, 84);
  --message-box-shadow-color: rgba(35, 175, 84, 0.2);
}

.message-primary {
  --message-text-color: rgb(45, 135, 204);
  --message-box-shadow-color: rgba(45, 135, 204, 0.2);
}

.message-danger {
  --message-text-color: rgb(219, 67, 67);
  --message-box-shadow-color: rgba(219, 67, 67, 0.2);
}

.message-warn {
  --message-text-color: rgb(235, 149, 29);
  --message-box-shadow-color: rgba(235, 149, 29, 0.2);
}

.close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}